<div id="<%= dom_id grade %>">
  <p>
    <strong>Value:</strong>
    <%= grade.value %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= grade.student_id %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= grade.subject_id %>
  </p>

  <p>
    <strong>Semester:</strong>
    <%= grade.semester_id %>
  </p>

</div>
