<div id="<%= dom_id note %>">
  <p>
    <strong>Note:</strong>
    <%= note.note %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= note.student.name %>
  </p>

  <p>
    <strong>Branches:</strong>
    <% note.branches.each do |branch| %>
      <%= branch.name %><%= "," unless branch == note.branches.last %>
    <% end %>
  </p>

</div>
