<div id="<%= dom_id supervisor %>">
  <h1>supervisor Details</h1>

  <p>
    <strong>First Name:</strong>
    <%= @supervisor.firstname %>
  </p>

  <p>
    <strong>Last Name:</strong>
    <%= @supervisor.lastname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @supervisor.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @supervisor.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @supervisor.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @supervisor.city %>
  </p>


  <p>
    <strong>Country:</strong>
    <%= @supervisor.country %>
  </p>

</div>
