<div id="<%= dom_id student %>">
  <p>
    <strong>Firstname:</strong>
    <%= student.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= student.lastname %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= student.address %>
  </p>

  <p>
    <strong>Npa:</strong>
    <%= student.npa %>
  </p>

  <p>
    <strong>City:</strong>
    <%= student.city %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student.email %>
  </p>

  <p>
    <strong>Phonenumber:</strong>
    <%= student.phoneNumber %>
  </p>

  <p>
    <strong>State:</strong>
    <%= student.state %>
  </p>

  <p>
    <strong>Acronym:</strong>
    <%= student.acronym %>
  </p>

  <p>
    <strong>School class:</strong>
    <%= student.school_class.name %>
  </p>

</div>
