<h1>Editing person</h1>

<%= render "form", student: @student %>

<br>

<h3>Classes Actuelles:</h3>
<ul>
  <% @student.student_contain_school_classes.order(:school_year).each do |association| %>
    <% if association.school_class.present? %>
      <li>
        <%= association.school_class.name %> - <%= association.school_year %>
        <%= form_with url: remove_student_school_class_path(association), method: :delete do |form| %>
          <%= form.submit "Supprimer", data: { confirm: "Êtes-vous sûr ?" } %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>



<div>
  <%= link_to "Show this student", @student %> |
  <%= link_to "Back to student", students_path %>
</div>
