<div id="<%= dom_id branch_history %>">
  <p>
    <strong>Name:</strong>
    <%= branch_history.name %>
  </p>

  <p>
    <strong>Effective date:</strong>
    <%= branch_history.effective_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= branch_history.end_date %>
  </p>

  <p>
    <strong>Branch:</strong>
    <%= branch_history.branch_id %>
  </p>

</div>
