<%= form_with(model: student_study_branch) do |form| %>
  <% if student_study_branch.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(student_study_branch.errors.count, "error") %> prohibited this student_study_branch from being saved:</h2>

      <ul>
        <% student_study_branch.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :student_id, style: "display: block" %>
    <%= form.text_field :student_id %>
  </div>

  <div>
    <%= form.label :branch_id, style: "display: block" %>
    <%= form.text_field :branch_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
