<p style="color: green"><%= notice %></p>

<%= render @student_study_branch %>

<div>
  <%= link_to "Edit this student study branch", edit_student_study_branch_path(@student_study_branch) %> |
  <%= link_to "Back to student study branches", student_study_branches_path %>

  <%= button_to "Destroy this student study branch", @student_study_branch, method: :delete %>
</div>
