<p style="color: green"><%= notice %></p>

<%= render @teacher_conduct_school_class %>

<div>
  <%= link_to "Edit this teacher conduct school class", edit_teacher_conduct_school_class_path(@teacher_conduct_school_class) %> |
  <%= link_to "Back to teacher conduct school classes", teacher_conduct_school_classes_path %>

  <%= button_to "Destroy this teacher conduct school class", @teacher_conduct_school_class, method: :delete %>
</div>
