<%= form_with(model: @school_class, url: update_branches_school_class_path(@school_class)) do |form| %>
  <div>
    <%= form.label :branch_ids, "Select Branches" %>
    <%= form.collection_check_boxes :branch_ids, Branch.all, :id, :name do |b| %>
      <div>
        <%= b.check_box %>
        <%= b.label %> - <%= b.object.code %>
      </div>
    <% end %>
  </div>
  
  <%= form.submit "Update Branches" %>
<% end %>
