<div id="<%= dom_id teacher %>">
  <h1>teacher Details</h1>

  <p>
    <strong>First Name:</strong>
    <%= @teacher.firstname %>
  </p>

  <p>
    <strong>Last Name:</strong>
    <%= @teacher.lastname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @teacher.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @teacher.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @teacher.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @teacher.city %>
  </p>


  <p>
    <strong>Country:</strong>
    <%= @teacher.country %>
  </p>

</div>
