<div id="<%= dom_id teacher %>">
  <p>
    <strong>Firstname:</strong>
    <%= teacher.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= teacher.lastname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= teacher.email %>
  </p>

  <p>
    <strong>Phonenumber:</strong>
    <%= teacher.phoneNumber %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= teacher.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= teacher.city %>
  </p>

  <p>
    <strong>Nip:</strong>
    <%= teacher.nip %>
  </p>

  <p>
    <strong>Acronym:</strong>
    <%= teacher.acronym %>
  </p>

</div>
