<div id="<%= dom_id teacher %>">
  <p>
    <strong>Firstname:</strong>
    <%= teacher.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= teacher.lastname %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= teacher.address %>
  </p>

  <p>
    <strong>Npa:</strong>
    <%= teacher.npa %>
  </p>

  <p>
    <strong>City:</strong>
    <%= teacher.city %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= teacher.email %>
  </p>

  <p>
    <strong>Phonenumber:</strong>
    <%= teacher.phoneNumber %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= teacher.status %>
  </p>

  <p>
    <strong>Acronym:</strong>
    <%= teacher.acronym %>
  </p>

  <p>
   <strong>Masters classes:</strong>
    <ul>
      <% teacher.conducted_school_classes.each do |school_class| %>
        <li><%= link_to school_class.name, school_class_path(school_class) %></li>
      <% end %>
    </ul>

  </p>

</div>
