<p style="color: green"><%= notice %></p>

<%= render @student_contain_school_class %>

<div>
  <%= link_to "Edit this student contain school class", edit_student_contain_school_class_path(@student_contain_school_class) %> |
  <%= link_to "Back to student contain school classes", student_contain_school_classes_path %>

  <%= button_to "Destroy this student contain school class", @student_contain_school_class, method: :delete %>
</div>
