<!DOCTYPE html>
<html>
  <head>
    <title>Gestion des notes - CPNV 2024</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to 'Accueil', root_path %>
        <%= link_to 'Branches', branches_path %>
        <%= link_to 'Classes', school_classes_path %>
        <%= link_to 'People', people_path %>
        <%= link_to 'Notes', notes_path %>
        <%= link_to 'Roles', roles_path %>
      </nav>
    </header>

    <%= yield %>

    <footer>
      <p>© 2024 Gestion des notes. Tous droits réservés.</p>
    </footer>
  </body>
</html>
